<%= simple_form_for(@lead) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<!-- Personal information -->
    <%= f.input :first_name %>
    <%= f.input :last_name %>
		<%= f.input :language %>
		<%= f.input :email %>
    <%= f.input :phone %>
		<%= f.input :mobile %>
		<%= f.input :twitter %>
		<%= f.input :skype %>

		<!-- Location information -->
		<%= f.input :address %>
		<%= f.input :address2 %>
		<%= f.input :address3 %>
		<%= f.input :city %>
		<%= f.input :state %>
		<%= f.input :country %>
		<%= f.input :zipcode %>
	  
	  
	  <!-- Physique information -->
		<%= f.input :image %>
		<%= f.input :height %>
		<%= f.input :weight %>		
		<%= f.input :smoke %>
		
		<h3>Procedure you are interested in</h3>
		<%= f.simple_fields_for :procedures do |builder| %>
			<fieldset>
				 <%= builder.collection_check_boxes :procedure_ids, Procedure.all, :id, :name %>
				<%#= builder.input :name %>
			</fieldset>	
		<% end %>
		
		<%= f.input :prior_procedures %>
	  <%= f.input :current_medication %> 
		<%= f.input :diagnosed_diseases %>
	  <%= f.input :require_recuperation_home %>
		<%= f.input :estimated_date_for_surgery %>	 

		<%= f.input :require_transportation %>
		<%= f.input :refered_by %>
		<%= f.input :how_did_you_knew_about_us %>
		<%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>